:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-green: #34562D;
    --color-mid-green: #697B43;
    --color-light-green: #C2C484;
    --color-dark-purple: #7458A8;
    --color-mid-purple: #9E8AC4;
    --color-light-purple: #DCDBDE;
    --color-beige: #F6F4F0;
  
    /* Font Size Variables */
    --size-xxs: 0.625rem; /* 10px */
    --size-xs: 0.75rem;   /* 12px */
    --size-s: 0.875rem;    /* 14px */
    --size-m: 1rem;       /* 16px (base size) */
    --size-l: 1.25rem;     /* 20px */
    --size-xl: 1.5rem;    /* 24px */
    --size-xxl: 2rem;     /* 32px */
    --size-xxxl: 3rem;    /* 48px */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    overflow: hidden;
  }

  @keyframes fadeInPage {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  body {
    background-color: var(--color-beige);
    background-image: url('./background.webp'), url('./background.JPG');
    background-color: var(--color-beige);
    background-size: cover; 
    background-position: 47% center; 
    background-repeat: no-repeat; 
    font-family: "Lalezar", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: var(--color-white);
    animation: fadeInPage 2s ease-in-out forwards;
  }
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
    pointer-events: none; 
  }
  
  .thank-you-message {
    padding: 2rem;
    border-radius: 12px;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 19rem;
    font-family: "Great Vibes", cursive;
  }
  p {
    font-size: 1.2rem;
  }
  .back-link {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #DCDBDE;
    color: #7458A8;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  .back-link:hover {
    background-color: #c5c4c8;
  }
  